*{
    margin: 0px;
    border: 0px;
    padding: 0px;

}
.manu-container{
    background-color: rgb(69, 69, 69);
    /* height: 120px; */
    /* padding: 20px; */
    color: bisque;
    list-style: none;
    align-items: center;
    display: flex;
    justify-content: space-around;
}
.logo-photo{
    height: 120px;
    width: 200px;


}
.menus{
    display: flex;
    justify-content: space-around;

}
.item{
    margin-right: 15px;
    padding-right: 10px;
    font-size: 18px;
    cursor: pointer;

}
.item:hover{
    color: aqua;

}
.banner-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height:100vh;
    /* border: 2px solid gray; */
    background-image: url("/images/.background.jpg"),
    linear-gradient(45deg,#000,hsl(0, 3%, 23%))
    
}
.banner-text{
    color: white;
}
.banner-img{
    height: 300px;
}
.title{
    font-size: 55px;
    font-weight: bold;
}
.description{
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 18px;
}
.btn{
    padding: 10px 20px;
    background-color: red;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.btn:hover{
    color: aqua;
}
.about-container{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    padding: 10px;
}
.about-title{
    text-align: center;
    padding: 20px;
    color: white;
}
.service-container{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #353535;
    
}
.box{
    width: 200px;
    height: 280px;
    box-shadow: 4px 4px 15px gray;
    background-color: black;
    text-align: center;
    padding: 15px;
    color: white;
    border-radius: 10px;
}
.logo{
    width: 70px;
}
.box-btn{
    background-color: grey;
    margin-top: 10px;
}
.box-title{
    padding: 10px;
}